WCFClient/Service References/EmpRefMessage/EmployeeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50308/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMessageContract" />
  <xs:element name="EmployeeId" type="xs:int" />
  <xs:element name="AuthenticationCode" nillable="true" type="xs:string" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMessageContract" name="EmployeeInfo" nillable="true" type="q1:Employee" />
</xs:schema>